.container {
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}

#titulo-cuando-llamar {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
#descrip-cuando-llamar {
  font-size: 18px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.grid-item {
  background-color: #e0e0e0;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 260px;
  width: 100%;
}

.grid-item i {
  font-size: 50px;
  margin-bottom: 15px;  /* Espacio entre el icono y el texto */
  color: #ffffff;  /* Color de los iconos */
}

.grid-item:hover {
  background-color: #e63d3d;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #cb1c23;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #a6141a;
}

/* Responsividad */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item {
    height: 180px;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    height: 160px;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid-item {
    height: 150px;
  }

  h2 {
    font-size: 20px;
  }
}
