.bienvenida {
  background-image: url('/pic-company.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 0;
  min-height: 700px;
  position: relative;  /* Necesario para que el posicionamiento absoluto funcione */
}

.bienvenida-container {
  position: absolute;
  top: 50%;  /* Mueve el contenido hacia el 50% de la altura total */
  left: 50%;
  transform: translate(-50%, -50%);  /* Centra el contenido tanto horizontal como verticalmente */
  text-align: center;
  padding: 0 20px;
}

.bienvenida h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  /* Hacer el tamaño del texto responsive */
  line-height: 1.2;
}

.bienvenida p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: white;
  /* Hacer el tamaño del texto responsive */
}

.btn-bienvenida {
  background-color: #fff;
  color: #cb1c23;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-bienvenida:hover {
  background-color: #e6e6e6;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .bienvenida h1 {
    font-size: 28px;  /* Reducir el tamaño del texto en pantallas pequeñas */
  }

  .bienvenida p {
    font-size: 16px;  /* Reducir el tamaño del texto en pantallas pequeñas */
  }

  .btn-bienvenida {
    font-size: 14px;  /* Reducir el tamaño del botón en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .bienvenida h1 {
    font-size: 22px;  /* Reducir aún más el tamaño del texto en pantallas muy pequeñas */
  }

  .bienvenida p {
    font-size: 14px;  /* Reducir aún más el tamaño del texto en pantallas muy pequeñas */
  }
}
