/* src/components/HojaMuestraProyectos/HojaMuestraProyectos.css */

/* Estilo de las flechas personalizadas */
.custom-arrow {
  font-size: 4rem;
  color: #c22222; /* Rojo */
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.custom-next-arrow {
  right: 20px;
}

.custom-prev-arrow {
  left: 20px;
}

/* Estilos del carrusel */
.proyectos-container {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  margin: 40px 0;
}

.proyectos-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.proyecto-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px; /* Ajustar el tamaño de cada tarjeta */
  margin: 0 auto;
}

.proyecto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.proyecto-nombre {
  font-size: 1.5rem;
  color: #0078d7;
  margin-bottom: 10px;
}

.proyecto-descripcion {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.proyecto-estado,
.proyecto-fecha {
  font-size: 0.9rem;
  color: #777;
}

/* Estilo para los botones de navegación (flechas) */
.slick-prev,
.slick-next {
  font-size: 20px;
  color: #c22222; /* Flechas en rojo */
}

.slick-prev:hover,
.slick-next:hover {
  color: #a10000; /* Rojo más oscuro al pasar el mouse */
}

.slick-dots {
  bottom: 10px;
}
